* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    font-family: 'Be Vietnam Pro';
    /* background-color: #12111F; */
  }

  #header{
    display: flex;
  }

  #header h1{
    color: #CDD5E0;
    font-size: 3rem;
  }
