* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro';
}

body {
  min-height: 100vh;
  background-color: #12111F;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/resources/faq-title-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}

#header h1 {
  color: #CDD5E0;
  font-size: 3rem;
  text-align: center;
}

#center-text {
  text-align: center;
}

#center-text h2 {
  color: #F2F5F9;
  font-size: 1.25rem;
  font-weight: 500;
}

#center-text p {
  color: #97A3B6;
}

#button-group {
  margin-top: 40px;
  margin-bottom: 40px;
}

button {
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  background-color: #000000;
  color: #F2F5F9;
  font-size:0.875rem;
}

.button-on {
  background-color: #2A2936;
  box-shadow: 0 4px 10px -1px rgba(205, 213, 224, 0.3);
  /* Glowing effect can be fix later*/
}

#card-group {
  width: 800px;
}

.card {
  color: #CDD5E0;
  padding: 20px 32px;
  margin: 20px;
  border-radius: 15px;
}

.card h3 {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 500;
}

.open {
  background-color: #2A2936;
  padding: 28px 32px;
}

.open h3 {
  color: white;
  padding-bottom: 8px;
}

.open img {
  transform: rotate(180deg);
}